.carousel-caption {
  top: 0;
  bottom: auto;
}

.carousel-caption-h1 {
  color: #ffffff;
  font-weight: bolder;
  font-size: 30px;
}

.bookings-open {
  width: 300px !important;
  height: 100px !important;
  position: absolute;
  top: 10px;
  right: -100px;
  animation: booking 1s infinite;
  animation-timing-function: ease;
}

@keyframes booking {
  from {
    color: red;
  }

  to {
    color: yellow;
  }
}

#heading-major-completed {
  font-size: 30px;
  color: #671F37;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.carousel-inner img {
  width: 100vw;
  height: 88vh;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #671F37;
}

.timeline {
  position: relative;
  margin: 0px auto;
  padding: 40px 0;
  max-width: 100%;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
  width: 30rem;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: #671F37;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: #671F37;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #671F37;
}

.estate_footer {
  background: #282E34;
  min-height: 100px;
  height: auto;
  padding: 10px;
}

h1 {
  color: #ffffff;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.footer_p {
  color: #ffffff;
}

h4 {
  color: #671F37;
}

#info-query-container {
  padding: 20px;
}

#welcome-header {
  height: 40px;
  background: #671F37;
  color: #ffffff;
  text-align: center;
}

#welcome-header h1 {
  padding-top: 10px;
}

#welcome-contents {
  padding: 50px 50px 0 50px;
}

#home-info {
  margin-top: -20px;
}

#home-query {
  padding-bottom: 20px;
}

form {
  padding: 20px;
  background: #dddddd;
}

.estate-btn {
  background: #671F37;
  color: #ffffff;
}

#read-more {
  float: right;
  cursor: pointer;
}

.lower-slider-img {
  height: 500px !important;
}

@media only screen and (max-device-width: 1024px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 800px) {
  .carousel-inner img {
    width: 100vw;
    height: 50vh !important;
  }

  .bookings-open {
    top: 0;
    right: -148px;
  }
}


@media only screen and (max-width: 500px) {
  .carousel-inner img {
    width: 100vw;
    height: 40vh !important;
  }

  #heading-major-completed {
    font-size: 20px;
  }

  .bookings-open {
    top: -12px;
    right: -170px;
  }

  h1 {
    font-size: 15px;
  }
}
