h6 {
  color: #671F37;
}

#mangal-tower-page {
  background: url("/assets/home_images/rs_tower.jpg");
  background-size: 100% 400px;
}

#mangal-tower-page {
  height: 400px;
}

#mangal-tower-navbar {
  background: #333333;
  display: flex;
  height: 50px;
  justify-content: center;
}

.mangal-tower_buttons {
  width: 200px;
  color: #ffffff;
  padding-top: 15px;
  cursor: pointer;
}

.mangal-tower_buttons:hover {
  background: #671F37;
  color: #ffffff;
}

.mangal-tower:hover {
  background: #671F37;
  color: #ffffff;
  cursor: pointer;
}

.mangal-tower-active {
  background: #671F37;
}

.floor-plan-img {
  width: 80%;
  height: 200px;
}

.project-info {
  margin-top: 20px;
}

.project-section-maps img {
  height: 390px;
}

form {
  padding: 20px;
  background: #dddddd;
  box-sizing: border-box;
}

.estate-btn {
  background: #671F37;
  color: #ffffff;
}

.google-location {
  width: 100%;
}


i {
  font-size: 2rem;
}

#facebook {

  color: #3E5B9A;
}

#instagram {

  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#linkedin {
  color: #0077B5;
}

.social_row i {
  font-size: 40px;
}

@media only screen and (max-width: 500px) {
  #mangal-tower-page {
    background-size: 100% 250px;
  }

  #mangal-tower-page {
    height: 250px;
  }
}
