.residential_row {
  padding: 20px;
}

.residential_card {
  width: 100%;
  height: 300px;
  border: 1px solid #B0B0B0;
  box-shadow: 5px 5px 5px #B0B0B0;
  margin: 10px;
}

.residential_card a {
  text-decoration: none;
  color: #671F37;
}

.residential_card img {
  width: 100%;
  height: 250px;
}

.residential_col {
  padding: 10px;
}
