<div class="row">
  <div class="col-sm-12" id="about-us_background">

  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center" id="about-us_navbar">
    <div class="about-us_buttons" routerLinkActive="estate-about-active" routerLink='/aboutUs/profile'>Company Profile</div>
    <div class="about-us_buttons" routerLinkActive="estate-about-active" routerLink='/aboutUs/philosophy'>Philosophy</div>
    <div class="about-us_buttons" routerLinkActive="estate-about-active" routerLink='/aboutUs/team'>Leadership Team</div>
  </div>
</div>
<div class="container" id="about-us_container">
  <router-outlet></router-outlet>
</div>

<div id="estate-footer" style="text-align: right;">
    <span style="color: #ffff00; font-size: 10px;">© Estate Buildcon Pvt Ltd. 2016</span>
</div>