<div class="row">
  <div class="col-sm-12" id="projects_background">

  </div>

  <div class="row">
    <div class="col-lg-12 text-center" id="projects_navbar">
      <div class="projects_buttons" routerLinkActive="estate-projects-active" routerLink='/projects/commercial'>
        Commercial</div>
      <div class="projects_buttons" routerLinkActive="estate-projects-active" routerLink='/projects/residential'>
        Residential</div>
      <div class="projects_buttons" routerLinkActive="estate-projects-active" routerLink='/projects//joint'>Joint
        Ventures</div>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div id="estate-footer" style="text-align: right;">
    <span style="color: #ffff00; font-size: 10px;">© Estate Buildcon Pvt Ltd. 2016</span>
  </div>
