h6 {
  color: #671F37;
}

#green-view-heights-page {
  background: url("/assets/home_images/green_view_heights.jpg");
  background-size: 100% 400px;
}

#green-view-heights-page {
  height: 400px;
}

#green-view-heights-navbar {
  background: #333333;
  display: flex;
  height: 50px;
  justify-content: center;
}

.green-view-heights_buttons {
  width: 200px;
  color: #ffffff;
  padding-top: 15px;
  cursor: pointer;
}

.green-view-heights_buttons:hover {
  background: #671F37;
  color: #ffffff;
}

.green-view-heights:hover {
  background: #671F37;
  color: #ffffff;
  cursor: pointer;
}

.green-view-heights-active {
  background: #671F37;
}

.floor-plan-img {
  width: 80%;
  height: 200px;
}

.project-info {
  margin-top: 20px;
}

.project-section-maps img {
  height: 390px;
  box-shadow: 5px 5px 10px #dddddd;
}

form {
  padding: 20px;
  background: #dddddd;
  box-sizing: border-box;
}

.estate-btn {
  background: #671F37;
  color: #ffffff;
}

.google-location {
  width: 100%;
}


i {
  font-size: 2rem;
}

#facebook {

  color: #3E5B9A;
}

#instagram {

  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#linkedin {
  color: #0077B5;
}

.social_row i {
  font-size: 40px;
}

.amenities {
  margin-top: 80px;
}

.amenities li {
  font-weight: bolder;
  list-style-type: circle;
}

.specifications span {
  font-weight: normal;
}

.specifications {
  margin-top: 80px;
}

.specifications li {
  font-weight: bolder;
  list-style-type: circle;
}

.sales-enq {
  text-align: center;
  height: 30px;
  width: 100%;
  background-color: yellow;
}

.sales-enq p {
  padding-top: 5px;
}

@media only screen and (max-width: 400px) {
  #green-view-heights {
    width: 50px;
    height: 170px;
  }

  .green-view-heights_buttons {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
  }

  #green-view-heights-navbar {
    flex-direction: column;
    height: auto;
  }

  #green-view-heights-page {
    background-size: 100% 250px;
  }

  #green-view-heights-page {
    height: 250px;
  }

  .specifications {
    margin-top: 20px;
  }

  .amenities {
    margin-top: 20px;
  }
}
