<div class="row">
  <div class="col-sm-12" id="green-view-heights-page">

  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center" id="green-view-heights-navbar">
    <div class="green-view-heights_buttons" (click)="scrollToSection(greenViewHeightsScrollOverview)">Overview</div>
    <div class="green-view-heights_buttons" (click)="scrollToSection(greenViewHeightsScrollAmenities)">Amenities</div>
    <div class="green-view-heights_buttons" (click)="scrollToSection(greenViewHeightsScrollSpecifications)">
      Specifications</div>
    <div class="green-view-heights_buttons" (click)="scrollToSection(greenViewHeightsScrollFloor)">Floor Plans</div>
    <div class="green-view-heights_buttons" (click)="scrollToSection(greenViewHeightsScrollGallery)">Gallery</div>
    <div class="green-view-heights_buttons">E-Brochure</div>
    <div class="green-view-heights_buttons" (click)="scrollToSection(greenViewHeightsScrollLocation)">Location</div>
  </div>
</div>
<div class="container project-info">
  <div class="row" #greenViewHeightsScrollOverview>
    <div class="col-sm-12 header-background">
      <h3>Overview</h3>
    </div>
    <div class="col-sm-12 overview-section">
      <p>Green View Heights, closely resembling its name is an ongoing project in Ranchi, capital city of Jharkhand
        state. With a population of around 20 lakhs, the only city in the state having an airport, marks the rapid pace
        of development evident from the fact that the city where only two flights were available in a day, now sees over
        12 flights in a day. </p>

      <p>The site is situated at a secured location having a panoramic view of the Bariatu hills. It has an easy access
        to the heart of the city with DAV School - Bariatu within half a kilometer, RIMS within one kilometer and close
        to the Bariatu Market area. </p>

      <p>Estate Buildcon Pvt Ltd is associated with this beautiful residential project as partial land owners. We hold
        19 flats in this residential complex. </p>
    </div>
  </div>
  <hr>

  <div class="row" #greenViewHeightsScrollAmenities>
    <div class="col-sm-12 header-background">
      <h3>Amenities</h3>
    </div>
    <ul class="amenities">
      <li>Landscaped Parks </li>
      <br>
      <br>
      <li> Kids Play Area </li>
      <br>
      <br>
      <li>Pedestrian Path & Jogging Trail </li>
      <br>
      <br>
      <li>High Speed Automatic Elevators </li>
      <br>
      <br>
      <li>Treated Water Supply</li>
      <br>
      <br>
      <li>Adequate Parking Space with Car Wash Point at Each Junction </li>
      <br>
      <br>
      <li>Club House with Semi-Indoor Swimming Pool with Water Mushroom for Children </li>
      <br>
      <br>
      <li>Gymnasium </li>
      <br>
      <br>
      <li>Health Club with Steam, Sauna, Jacuzzi and Multipurpose Hall</li>
      <br>
      <br>
      <li>Hotel Yype A.C. Guest Rooms </li>
      <br>
      <br>
      <li>Cyber Cafe </li>
      <br>
      <br>
      <li>Billiards & Games Room </li>
      <br>
      <br>
      <li>Beautifully Landscaped Lawn Attached with the Clubhouse for Outdoor Parties </li>
      <br>
      <br>
      <li>Rain Water Harvesting </li>
      <br>
      <br>
      <li>Latest Fire Fighting Equipments Including Smoke Detectors </li>
      <br>
      <br>
      <li>Auto-Level Sensor for O.H. Water Tank </li>
      <br>
      <br>
      <li>Provision store </li>
      <br>
      <br>
      <li>Beauty Parlor and a Dispensary Within the Compound </li>
      <br>
      <br>
      <li>Radha Krishna Temple inside the Complex </li>
    </ul>
  </div>
  <hr>

  <div class="row" #greenViewHeightsScrollSpecifications>
    <div class="col-sm-12 header-background">
      <h3>Specifications</h3>
    </div>
    <ul class="specifications">
      <li>Structure <br>
        <span>Earthquake resistant RCC framed structure with external brick/block walls.</span>
      </li>
      <br>
      <br>
      <li> Wall Finish <br>
        <span>Internal walls in cement plaster with POP / Putty. External wall in combination of stone, tiles, Acrylic
          emulsion/texture paint. </span>
      </li>
      <br>
      <br>
      <li> Flooring / Wall Dado <br>
        <span> Drawing Room : The Living room/Dining room is made of high quality vitrified tiles of Kajaria &
          RAK</span> <br>
        <span> Bedrooms : Bedrooms flooring with high quality vitrified tiles. </span> <br>
        <span> Puja Room : Puja rooms flooring with high quality vitrified tiles. </span> <br>
        <span> Balcony : High quality anti skid ceramic tiles. </span> <br>
        <span> Kitchen : Counter will be done with high quality granite and wall dado will be done with high quality
          ceramic tiles. </span> <br>
        <span> Toilets : Anti Skid Vitrified tiles of Kajaria or equivalent flooring, Ceramic tiles in walls till door
          frame height, balance painted in acrylic emulsion paint.</span>
      </li>
      <br>
      <br>
      <li>Kitchen <br>
        <span> Imported fittings of Kohler or equivalent. Stainless steel sink (Nirali) with drain board.
          Designer/modular frame for installation of Modular Kitchen. Provisions for R.O. System and electric point of
          Refrigerator, Microwave and Mixture-Grinder. </span>
      </li>
      <br>
      <br>
      <li>Doors & Windows <br>
        <span> Main Entrance : Elegantly designed and finished 8 feet high entrance door with polished hardwood frame
          having European style moulded shutter with high quality imported / Indian hardware fittings.</span><br>
        <span> Internal Doors : Seasoned hardwood frame with European style moulded shutters.</span><br>
        <span> Windows : Branded UPVC windows.</span>
      </li>
      <br>
      <br>
      <li>Toilets <br>
        <span> Premium quality/imported sanitary/high class wall hung W.C. and washbasin in matching shades/colours.
          Single lever C.P. fittings Kohler/Jaguar or equivalent. All the toilets will include shower enclosure,
          exhaust fan point and geyser point. </span>
      </li>
      <br>
      <br>
      <li>Others <br>
        <span>Split air conditioner point in each room.</span>
      </li>
      <br>
      <br>
      <li>Water Supply <br>
        <span> 24 hours water supply from own deep tube well boring to be stored in over head water tanks. </span>
      </li>
      <br>
      <br>
      <li>Electrical<br>
        <span> Modular range switches, sockets & holders (Wipro - North East), MCBs (Legrand), copper wiring
          (Polycab/Mescab). </span>
      </li>
      <br>
      <br>
      <li>Power Back-up <br>
        <span> 100% power back-up per apartment. </span>
      </li>
      <br>
      <br>
      <li>Communication <br>
        <span>TV and telephone points, EPABX and video door-phone (security). </span>
      </li>
      <br>
      <br>
      <li>Security <br>
        <span> Secured gated community with access control at entrances with CCTV at entry and exits of the
          development. EPABX system linked to each unit. Access control cards and video door phone for each apartment.
        </span>
      </li>
    </ul>
  </div>

  <hr>

  <div class="row" #greenViewHeightsScrollFloor>
    <div class="col-sm-12 header-background">
      <h3>Floor Plans</h3>
    </div>
    <div class="col-sm-4 floor-plan-section" *ngFor="let fp of floorPlans">
      <div class="floor-plan-container">
        <img [src]="fp.img" class="floor-plan-img" data-toggle="modal" data-target=".bs-example-modal-lg">
        <div class="middle" data-toggle="modal" data-target=".bs-example-modal-lg">
          <div class="text">{{fp.details}}</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" #greenViewHeightsScrollGallery>
    <div class="col-sm-12 header-background">
      <h3>Gallery</h3>

    </div>
    <div class="col-sm-4 gallery-section" *ngFor="let gallery of gallery">
      <img [src]="gallery" class="floor-plan-img" data-toggle="modal" data-target=".gallery-modal">
    </div>
  </div>
  <hr>

  <div class="row" #greenViewHeightsScrollLocation>
    <div class="col-sm-12 header-background">
      <h3>Location</h3>
    </div>
    <div class="col-md-3 col-sm-12 project-section-info">
      <h4>Green View Heights</h4>
      <p>Diwakar Nagar</p>
      <p>Bariatu</p>
      <p>Ranchi</p>
      <p>Jharkhand </p>

      <div class="row social_row">

        <div class="col-sm-12" id="social-icons">
          <a target="_blank" href="https://www.facebook.com/estatebuildcon">
            <i class="fab fa-facebook" id="facebook"></i>
          </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.instagram.com/estate_buildcon/" target="_blank">
            <i class="fab fa-instagram" id="instagram"></i>
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/company/estate-buildcon-pvt-ltd" target="_blank">
            <i class="fab fa-linkedin" id="linkedin"></i>
          </a>
        </div>

      </div>
    </div>
    <div class="col-md-4 col-sm-12 project-section-maps">
      <a target="_blank"
        href="https://www.google.co.in/maps/place/Green+View+Heights/@23.3977535,85.3612837,13z/data=!4m5!3m4!1s0x39f4e3f943936d3f:0xc2d3db45a3c71c3a!8m2!3d23.404065!4d85.361155">
        <img [src]="maps" class="google-location"></a>
    </div>
    <div class="col-md-5 col-sm-12 project-section-form">
      <form (ngSubmit)="onSubmitMail(formData)" #formData="ngForm">
        <input type="text" ngModel name="fullName" class="form-control" placeholder="Full Name" required>
        <br>
        <input type="text" ngModel name="email" class="form-control" placeholder="Email Address" required>
        <br>
        <input type="text" ngModel name="phoneNumber" class="form-control" placeholder="Phone Number" required>
        <br>
        <input type="text" ngModel name="project" class="form-control" placeholder="Project">
        <br>
        <textarea ngModel name="message" class="form-control" placeholder="Query" rows="6"></textarea>
        <br>
        <input type="submit" class="btn btn-default form-control estate-btn" value="Submit" id="estate-contact-submit">
        <p class="mail-message">{{mailMessage}}</p>
        <div class="sales-enq">
          <p>Sales Enquiry : +91 8051035526</p>
        </div>
      </form>
    </div>
  </div>


</div>

<div id="estate-footer" style="text-align: right;">
  <span style="color: #ffff00; font-size: 10px;">© Estate Buildcon Pvt Ltd. 2016</span>
</div>

<div class="modal fade gallery-modal" tabindex="-1" role="dialog" aria-labelledby="galleryLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-gallery" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div [ngClass]="{active : i == 0, item : i>=0}" *ngFor="let gallery of gallery; let i = index">
            <img class="img-responsive" [src]="gallery" alt="...">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-gallery" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-gallery" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div [ngClass]="{active : i == 0, item : i>=0}" *ngFor="let fp of floorPlans; let i = index">
            <img class="img-responsive" [src]="fp.img" alt="...">
            <div class="carousel-caption">
              {{fp.details}}
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
